.trainSchedule {
  width: 100%;
}

#trains {
  width: 100%;
}

.trainRowHeader {
  border-bottom: solid 1px gray;
  font-weight: bold;
}

.trainRow, .trainRowHeader  {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.trainRow > div, .trainRowHeader > div {
  flex: 1;
  text-align: left;
}

.trainRow:nth-of-type(odd) {
  background-color: #e2e2e2;
}

.editSettings {
  max-width: 60px;
  flex: 0;
}

input {
  padding: 10px;
}

button {
  padding: 10px 12px;
  background: gray;
  border: solid 1px gray;
  border-radius: 8px;
  color: white;
  display: inline-block;
}

button:focus {
  outline: none;
}